@import 'bourbon';
@import 'general-variables';
@import 'reset';

.btn {
 display: inline-block;

 background-color: transparent;
 color: $dark;
 border: 2px solid $dark;

 padding: 1em 2em;
 border-radius: 0.6em;

 text-transform: uppercase;
 letter-spacing: 1px;

 cursor: pointer;

 @include transition(all 0.1s ease-out);

 &:hover {
   background-color: $dark;
   color: $light;
 }
}
