@import 'bourbon';
@import 'reset';

.btn {
 display: inline-block;

 background-color: transparent;
 color: #002833;
 border: 2px solid #002833;

 padding: 1em 2em;
 border-radius: 0.6em;

 text-transform: uppercase;
 letter-spacing: 1px;

 cursor: pointer;

 @include transition(all 0.1s ease-out);

 &:hover {
   background-color: #002833;
   color: white;
 }
}
